.post {

  &Header {
    display: flex;
    align-items: center;
    padding-top: 0.66667rem;
  }
  
  &Content {
    display: flex;
    align-items: center;
    margin-top: 0.66667rem;
  }

  &Footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  &Text {
    font-size: 18px;
    margin-left: 0.66667rem;
  }
}


.user {
  
  &Avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: gray;
  }

  &Info {
    display: flex;
    flex-direction: column;
    margin-left: 0.66667rem;
  }

  &Name {
    font-weight: 500;
    color: #0D6EFD;

    &:hover {
      color: #0B5ED7;
    }
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;

  button:hover {
    color: #0B5ED7;
  }
}

.changeButton {
  margin-left: 0.66667rem;
}