/* Общие настройки стилей */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
textarea,
input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


/* Шапка */

.header {
  display: flex;
  align-items: center;
}

.refresh-icon {
  font-size: 28px;
  margin-left: 18px;
  cursor: pointer;
  transition: 1s ease;
}

.refresh-icon:hover {
  transform: rotate(360deg);
}


/* Форма поиска */

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  width: 100%;
}


/* Заметки */

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  position: relative;
}

.close-note-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 4px;
  background-color: #e1e1e1;
  border-radius: 50%;
  color: #717171;
}

.close-note-icon:hover {
  background-color: #ededed;
  color: #000;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
}

.save-button {
  background-color: #e1e1e1;
  border-radius: 15px;
  padding: 5px 16px 5px 12px;
  display: flex;
  align-items: center;
}

.save-button:hover {
  background-color: #ededed;
}

.close-note-icon,
.search-icon,
.close-icon,
.add-icon {
  cursor: pointer;
}

.add-icon {
  font-size: 18px;
}

.close-icon {
  color: #717171;
}

.close-icon:hover {
  color: #000;
}