.post {
  padding-top: 0.66667rem;

  &Header {
    display: flex;
    align-items: center;
    padding-top: 0.66667rem;
  }
  
  &Content {
    font-size: 18px;
    padding-top: 1.66667rem;
  }

  &Footer {
    display: flex;
    align-items: center;
  }

  &Comment {
    margin-left: 0.66667rem;
  }

  &Description {
    color: gray;
  }
}


.user {
  
  &Avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: gray;

    &Small {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: gray;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    margin-left: 0.66667rem;
  }

  &Name {
    font-weight: 500;
    color: #0D6EFD;

    &:hover {
      color: #0B5ED7;
    }
  }
}

.button {
  
  &Group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.66667rem 0;

    button:hover {
      color: #0B5ED7;
    }
  }
}

.editButton {
  flex: 1 1 auto;
  text-align: right;
  font-size: 18px;

  svg {
    cursor: pointer;

    &:hover {
      color: #0B5ED7;
    }
  }
}