:root {
  --bg-color: #FAF7F2;
  --white: #FFF;
  --gray: #6F6F6F;
  --btn-color: #9C948A;
  --orange: #FF982C;
  --brown: #855345;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  padding: 0 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin-top: -80px;
}

.card {
  width: 700px;
  height: 280px;
  background-color: var(--white);
  border-radius: 2px;
  margin-top: 80px;
  position: relative;
}

img {
  position: absolute;
  width: 150px;
  top: -30px;
  left: 30px;
}

.card__title {
  margin-top: 64px;
  margin-left: 200px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray);
}

.card-body-stars {
  margin-top: 40px;
  margin-left: 200px;
  padding: 0;
}

.card__buttons {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 200px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--btn-color);
  padding: 18px 24px;
  border-radius: 2px;
  text-transform: uppercase;
}

.button-secondary {
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);
  display: flex;
  align-items: center;
  margin-left: 24px;
  text-transform: uppercase;
}

.button-secondary span {
  font-size: 16px;
  margin-left: 2px;
}

.button:hover {
  background-color: var(--gray);
}

.card__icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 32px;
}

.card__icons span {
  font-variation-settings: 'FILL' 1;
  color: var(--btn-color);
}

.icon-share {
  margin-left: 8px;
}

.card__icons button:hover span {
  color: var(--gray);
}



